{% extends 'base.html.twig' %}

{% block title %}Lieux{% endblock %}

{% block body %}

{# table listing all cities #}
<div class="col-md-9 container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Rue</th>
            <th scope="col">Code Postal</th>
            <th scope="col">Ville</th>
        </tr>
        </thead>
        <tbody>
        {% for lieu in lieux %}
        <tr>
            <th>{{ lieu.nom }}</th>
            <td>{{ lieu.rue }}</td>
            <td>{{ lieu.ville.codePostal }}</td>
            <td>{{ lieu.ville.nom }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {# form to add new city #}
    <button class="btn btn-warning" type="button"
            onclick="document.getElementById('lieuForm').style.display = 'block'">
        Ajouter un lieu</button>

    <div id="lieuForm" class="col-md-9 my-3 mx-auto" style="display: none">
        {{ form_start(form) }}
        <div class="row">
            {{ form_row(form.ville) }}
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.nom) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.rue) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.latitude) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.longitude) }}
            </div>
            {{ form_rest(form) }}
        </div>
        <div class="d-grid gap-2">
            <button class="btn btn-primary" formnovalidate>Envoyer</button>
        </div>
    </div>
</div>

{% endblock %}