{% extends 'base.html.twig' %}

{% block title 'Editer mon profil'%}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="my-3">Mon profil</h1>
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.nom) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.prenom) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.telephone) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.email) }}
                </div>
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Mettre à jour le profil</button>
            </div>
            {{ form_end(form) }}
            <p>
                <a href={{ path('app_account') }}#">Retour</a>
            </p>
        </div>
    </div>

{% endblock %}