{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}

    <div class="row mt-5">

        <div class="col-md-6 text-center">
            <img class="rounded-top d-block w-auto mx-auto mb-2" src="{{ (app.user.image.imageName ? vich_uploader_asset(app.user.image) : ('/../images/avatar_icon.png')) }}" alt="avatar">

        </div>

        <div class="col-md-6">
            <p class="h3"> {{ app.user.prenom }} {{ app.user.nom }} </p>
            <p class="lead"> {{ app.user.email }}</p>
            <p> #{{ app.user.campus.nom }} </p>
            <p> {{ app.user.telephone }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 text-center">
            <p>
                <a href={{ path('app_account_edit_avatar') }}#">Editer mon avatar</a>
            </p>
        </div>
        <div class="col-md-6">
            <p>
                <a href={{ path('app_account_edit') }}#">Editer mon profil</a> | <a href="{{ path('app_account_change_password') }}">Changer mon mot de passe</a>
            </p>
        </div>
    </div>
{% endblock %}