{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto text-center">
            <h1 class="my-5">Profile</h1>
            <img src="/../images/avatar_icon.png" alt="avatar" class="rounded-circle">
            <p> Nom : {{ app.user.nom }}</p>
            <p> Prénom : {{ app.user.prenom }}</p>
            <p> Telephone : {{ app.user.telephone }}</p>
            <p> Email : {{ app.user.email }}</p>
            {{  dump(app.user) }}
            <p> Campus :
                {% for campus in app.user %}
                    {{ campus.nom }}
                {% endfor %}
            </p>
            <p>
                <a href="#">Editer mon profil</a> | <a href="#">Changer mon mot de passe</a>
            </p>
        </div>
    </div>
{% endblock %}