{% extends 'base.html.twig' %}

{% block title %}Oui.sorties !{% endblock %}

{% block body %}

    {# table listing all users #}
    <div class="col-md-12 container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Email</th>
                <th scope="col">Telephone</th>
                <th scope="col">Campus</th>
                <th scope="col">Actif</th>
                <th scope="col">Rôle</th>
                <th scope="col">Profil</th>
                <th scope="col">ON/OFF</th>
                <th scope="col">Supprimer</th>
            </tr>
            </thead>
            <tbody>
            {% for participant in participants %}
                <tr>
                    <th>{{ participant.nom }}</th>
                    <td>{{ participant.prenom }}</td>
                    <td>{{ participant.email }}</td>
                    <td>{{ participant.telephone }}</td>
                    <td>{{ participant.campus }}</td>
                    <td>{% if participant.actif %} {{ 'Oui' }} {% else %} {{ 'Non' }} {% endif %}</td>
                    <td> {% for role in participant.roles %}
                        {{ role }} - {% endfor %}</td>
                    <td>
                        <a href="{{ path('app_participant_show', {id: participant.id}) }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#0874fc" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            </svg>
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('app_admin_participant_desactivate', {id: participant.id}) }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#0874fc" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                            </svg>
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('app_admin_participant_delete', {id: participant.id}) }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="red" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                            </svg>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {# form to add new user #}
        <button id="btn-add" class="btn btn-warning" type="button"
                onclick="document.getElementById('btn-add').style.display = 'none'
                         document.getElementById('btn-cancel').style.display = 'block'
                         document.getElementById('form').style.display = 'block'">
            Ajouter un utilisateur</button>

        <button id="btn-cancel" class="btn btn-warning" type="button" style="display: none"
                onclick="document.getElementById('btn-cancel').style.display = 'none'
                         document.getElementById('form').style.display = 'none'
                         document.getElementById('btn-add').style.display = 'block'">
            Annuler</button>

        <div id="form" class="col-md-9 my-3 mx-auto" style="display: none">
            {{ form_start(registrationForm) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(registrationForm.prenom) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(registrationForm.nom) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    {{ form_row(registrationForm.telephone) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(registrationForm.campus) }}
                </div>
            </div>

            <div class="row">
                {% for passwordField in registrationForm.plainPassword %}
                    <div class="col-md-6">
                        {{ form_label(passwordField) }}
                        {{ form_widget(passwordField) }}
                        {{ form_errors(passwordField) }}
                    </div>
                {%  endfor %}
                {{  form_widget(registrationForm) }}
            <div class="d-grid gap-2">
                <button class="btn btn-primary" formnovalidate>Envoyer</button>
            </div>
                {{ form_end(registrationForm) }}
        </div>
    </div>

{% endblock %}