{% extends 'base.html.twig' %}

{% block title %}Oui.sorties !{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-9 my-auto mx-auto">

    <h1 class="text-center">Inscription</h1>

        {{ form_start(registrationForm) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(registrationForm.prenom) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(registrationForm.nom) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    {{ form_row(registrationForm.telephone) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(registrationForm.campus) }}
                </div>
            </div>

             <div class="row">
                 {% for passwordField in registrationForm.plainPassword %}
                    <div class="col-md-6">
                        {{ form_label(passwordField) }}
                        {{ form_widget(passwordField) }}
                        {{ form_errors(passwordField) }}
                    </div>
                {%  endfor %}
        {{  form_widget(registrationForm) }}
    <div class="d-grid gap-2">
        <button class="btn btn-primary" formnovalidate>S'inscrire</button>
    </div>
    {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
