{% extends 'base.html.twig' %}

{% block title %}Hello SortiesController!{% endblock %}

{% block body %}
    <h1 class="container text-left h3 mb-3 font-weight-normal">Filtrer les sorties</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            {{ form_start(searchForm) }}
                {{ form_row(searchForm.campus) }}
                {{ form_row(searchForm.search) }}
            </div>
            <div class="pt-3 col-md-3">
                {{ form_row(searchForm.organiser) }}
                {{ form_row(searchForm.registered) }}
                {{ form_row(searchForm.notRegistered) }}
                {{ form_row(searchForm.passed) }}
            </div>
            <div class="col-md">
                <button class="px-3 py-3 mt-5 btn btn-warning" type="submit" formnovalidate>Rechercher</button>
            </div>
        </div>
        {{ form_end(searchForm) }}
    </div>

        <table class="mt-3 table">
            <thead>
                <tr>
                    <th style="font-size: small">Nom de la sortie</th>
                    <th style="font-size: small">Date de la sortie</th>
                    <th style="font-size: small">Cloture</th>
                    <th style="font-size: small">Inscrits/Places</th>
                    <th style="font-size: small">Etat</th>
                    <th style="font-size: small">Inscrit</th>
                    <th style="font-size: small">Organisateur</th>
                    <th style="font-size: small">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for sortie in sorties %}
            <tr>
                <th scope="col">{{ sortie.nom }}</th>
                <td>{{ sortie.dateHeureDebut|date('d-m-Y H:i')}}</td>
                <td>{{ sortie.dateLimiteInscription|date('d-m-Y')}}</td>
                <td>{{ sortie.participant|length }}/{{ sortie.nbInscriptionsMax }} </td>
                <td>{{ sortie.etat.libelle}}</td>
                <td>{% if app.user in sortie.getParticipant %} {{ 'Oui' }} {% endif %}</td>
                <td>
                    <a href="{{ path('app_participant_show', {id: sortie.organisateur.id}) }}">
                        {{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom }}</a>
                </td>
                <td>
                    <a href="{{ path('app_sortie_show', {id: sortie.id}) }}">
                        Afficher
                    </a><br>

                    {% if (is_granted('ROLE_ADMIN')==true or app.user == sortie.organisateur) %}
                    <a href="{{ path('app_sortie_edit', {id: sortie.id}) }}">
                        Modifier
                    </a><br>
                    {% endif %}

                    {% if app.user not in sortie.getParticipant %}
                        <a id="register-link" href="{{ path('app_sortie_subscribe', {id: sortie.id}) }}">
                            S'inscrire
                        </a><br>
                    {% endif %}

                    {% if app.user in sortie.getParticipant %}
                        <a class="link-danger" href="{{ path('app_sortie_unsubscribe', {id: sortie.id}) }}">
                            Se désinscrire
                        </a><br>
                    {% endif %}
                </td>
            </tr>
            </tbody>
            {% endfor %}

        </table>

    <a class="btn btn-primary" href="{{ path('app_sortie_create') }}" role="button">Créer une sortie</a>

{% endblock %}
