{% extends 'base.html.twig' %}

{% block title %}Oui.sorties !{% endblock %}

{% block body %}

    <div class="container col-md-9">
        <h3 class="mb-3 text-center"> {{ sortie.nom }} </h3>
        <p class="mb-5 lead text-center">Organisée par <strong>{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom }}</strong>
            #{{ sortie.campus }}</p>

        <div class="row">
            <div class="col-md-6">
                <p> <strong>Durée :</strong> {{ sortie.duree }} minutes</p>
            </div>
            <div class="col-md-6">
                <p> <strong>Date limite d'inscription :</strong> {{ sortie.dateLimiteInscription|date('Y-m-d H:i:s') }} </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p> <strong>Nombre de places :</strong> {{ sortie.nbInscriptionsMax }}</p>
            </div>
            <div class="col-md-6">
                <p> <strong>Date et heure de début :</strong> {{ sortie.dateHeureDebut|date('Y-m-d H:i:s') }} </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p> <strong>Lieu :</strong> {{ sortie.lieu }} </p>
            </div>
            <div class="col-md-6">
                <p> <strong>Ville :</strong> {{ sortie.lieu.ville }} </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p> <strong>Description :</strong> {{ sortie.infosSortie }} </p>
            </div>
            <div class="col-md-6">
                <p> <strong>Participants inscrits :</strong></p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Prenom</th>
                            <th>Nom</th>
                        </tr>
                    </thead>
                    <tbody>
                     {% for participant in participants %}
                         <tr>
                            <td>{{ participant.prenom }}</td>
                            <td>{{ participant.nom }}</td>
                         </tr>
                     {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

{% endblock %}