{% extends 'base.html.twig' %}

{% block title %}Oui.sorties !{% endblock %}

{% block body %}

    {# table listing all cities #}
    <div class="col-md-6 container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Ville</th>
                <th scope="col">Code Postal</th>
                <th scope="col">Supprimer</th>
            </tr>
            </thead>
            <tbody>
            {% for ville in villes %}
                <tr>
                    <th>{{ ville.nom }}</th>
                    <td>{{ ville.codePostal }}</td>
                    <td><a href="{{ path('app_admin_ville_delete', {id: ville.id}) }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="red" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                            </svg>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {# form to add new city #}
        <button id="btn-add" class="btn btn-warning" type="button"
                onclick="document.getElementById('btn-add').style.display = 'none'
                         document.getElementById('btn-cancel').style.display = 'block'
                         document.getElementById('form').style.display = 'block'">
            Ajouter une ville</button>

        <button id="btn-cancel" class="btn btn-warning" type="button" style="display: none"
                onclick="document.getElementById('btn-cancel').style.display = 'none'
                         document.getElementById('form').style.display = 'none'
                         document.getElementById('btn-add').style.display = 'block'">
            Annuler</button>

        <div id="form" class="my-3 mx-auto" style="display: none">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.nom) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.codePostal) }}
                </div>
            </div>
            {{ form_rest(form) }}
            <div class="d-grid gap-2">
                <button class="btn btn-primary" formnovalidate>Envoyer</button>
            </div>
        </div>
    </div>



{% endblock %}